<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Michelle Torres</h2>
			<p>Hello! I am a Ph.D. student in the Department of Political Science at Washington University in St. Louis. I am from Mexico City, where I obtained a B.A. in Political Science and International Relations from <a href=> CIDE (Center for Research and Teaching in Economics) </a>. My broad research interests are in the fields of political methodology and political behavior, with a special interest in survey methodology, computer vision, causal inference, and public opinion.</p>
		</header>
	</div>
</section>
