<section id="two" class="wrapper alt style2">


	<section class="spotlight">
		<div class="image"><img src="/assets/images/MT_ProfilePic.jpg" alt="" /></div>
		<div class="content">
			<h2>About me</h2>
			<p>Hello! I am an incoming Assistant Professor in the Department of Political Science at <a href='https://politicalscience.rice.edu' target="_blank"> Rice University (starting July 2019) </a>. I hold a Ph.D. in Political Science and a A.M. in Statistics from Washington University in St. Louis. I am originally from Mexico City, where I obtained a B.A. in Political Science and International Relations from <a href='http://cide.edu' target="_blank"> CIDE (Center for Research and Teaching in Economics) </a>. My broad research interests are in the fields of political methodology and political behavior, with a special interest in survey methodology, computer vision, causal inference, public opinion, and political communication.</p>
		</div>
	</section>

	<section class="spotlight">
		<div class="image"><img src="/assets/images/stl1.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Research</a></h2>
			<p>My current research focuses on political methodology and the ways in which we can make statistical and computer science methods accessible to political science. I am interested in developing and applying innovative and rigorous tools to achieve a better understanding of social issues, especially in the fields of political behavior and public opinion.&nbsp; Methodologically, I am particularly interested in computer vision, causal inference and survey methodology. Substantively, I focus on political communication, participation, and psychological traits. My work is published or forthcoming in the&nbsp;<em>American Journal of Political Science, Political Opinion Quarterly, American Politics Research, Political Science Research &amp; Methods, </em>and<em> Research &amp; Politics.</em></p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image"><img src="/assets/images/ferguson11.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Dissertation</a></h2>
			<p>In my dissertation, I analyze images and pictures using computer vision and machine learning techniques in order to classify political visual messages/frames such as the level of violence in images published in news articles about the Black Lives Matter movement. I am interested in quantifying visual messages depicted by media outlets, exploring the correlation of such measures with ideological positions, and exploring the effect of visual material on the formation of attitudes and opinions.</p>
		</div>
	</section>
</section>
