<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Michelle Torres</h2>
		</header>
		<ul class="features">
			<li class="icon fa-university">
				<h3>Research</h3>
				<p> A sample of the working papers and projects on which I am currently working.</p>
			</li>
			<li class="fa fa-id-card-o">
				<h3>CV</h3>
				<p> Here you can find my Curriculum Vitae.</p>
			</li>
			<li class="icon fa-code">
				<h3>Software, data and code</h3>
				<p> Packages, scripts, data and replication material.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Random links</h3>
				<p>Here is a collection of non-academic and academic links that you may find interesting.</p>
			</li>
		</ul>
	</div>
</section>
