<section id="two" class="wrapper alt style2">


	<section class="spotlight">
		<div class="image"><img src="/assets/images/berlin1.jpg" alt="" /></div>
		<div class="content">
			<h2>About me</h2>
			<p>Hello! I am a Ph.D. student in the Department of Political Science, and a A.M. in Statistics student in the Department of Mathematics at Washington University in St. Louis. I am from Mexico City, where I obtained a B.A. in Political Science and International Relations from <a href='http://cide.edu'> CIDE (Center for Research and Teaching in Economics) </a>. My broad research interests are in the fields of political methodology and political behavior, with a special interest in survey methodology, computer vision, causal inference, and public opinion.</p>
		</div>
	</section>

	<section class="spotlight">
		<div class="image">{% if post.image %}<img src="/assets/images/stl1.jpg" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">Research</a></h2>
			<p>My current research focuses on political methodology. One of my main projects involves the application of Marginal Structural Models to the estimation of controlled direct effects in PoliSci settings. Relatedly, I also have a piece regarding post-treatment control bias. My research interests also cover political behavior. I have working papers on personality stability and politics, perceptions of political control, ideology and bedrock values, and lifestyle differences and political polarization. I am also interested in developing tools and techniques to improve survey design and analysis. For example, I am part of the team that developed <a href='http://taps.wustl.edu/technical' target="_blank"> <tt>weightTAPSPACK</tt></a>, an R package that allows for dynamic weighting of <a href='http://taps.wustl.edu/' target="_blank"> The American Panel Survey (TAPS)</a>.</p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image">{% if post.image %}<img src="/assets/images/stl1.jpg" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">Dissertation</a></h2>
			<p>In my dissertation, I analyze images and pictures using computer vision and machine learning techniques in order to classify political visual messages such as the level of violence in images published in news articles about the Black Lives Matter movement. I am interested in quantifying visual messages depicted by media outlets, exploring the correlation of such measures with ideological positions, and exploring the effect of visual material on the formation of attitudes and opinions.</p>
		</div>
	</section>
</section>
