<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header>
			<h2>Michelle Torres</h2>
			<p>Hello! Welcome to my personal site. Please feel free to contact me with any questions or comments.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-gears major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-bar-chart major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>
