<section id="two" class="wrapper alt style2">


	<section class="spotlight">
		<div class="image"><img src="/assets/images/MT_ProfilePic.jpg" alt="" /></div>
		<div class="content">
			<h2>About me</h2>
			<p>Hello! I am an Assistant Professor in the Department of Political Science at the <a href='https://polisci.ucla.edu' target="_blank"> University of California, Los Angeles</a>. I hold a Ph.D. in Political Science and a A.M. in Statistics from Washington University in St. Louis. I am originally from Mexico City, where I obtained a B.A. in Political Science and International Relations from <a href='http://cide.edu' target="_blank"> CIDE </a> (Center for Research and Teaching in Economics). My broad research interests are in the fields of political methodology and political behavior, with a special interest in survey methodology, computer vision, causal inference, public opinion, and political communication.</p>
		</div>
	</section>

	<section class="spotlight">
		<div class="image"><img src="/assets/images/stl1.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Research</a></h2>
			<p>My current research focuses on political methodology and the ways in which we can make statistical and computer science methods accessible to political science. I am interested in developing and applying innovative and rigorous tools to achieve a better understanding of social issues, especially in the fields of political behavior and public opinion.&nbsp; Methodologically, I am particularly interested in computer vision, causal inference and survey methodology. Substantively, I focus on political communication, participation, and attitude formation. My work is published or forthcoming in the&nbsp;<em>American Journal of Political Science, Political Analysis, Political Opinion Quarterly, Political Science Research &amp; Methods, </em> and others.</p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image"><img src="/assets/images/ferguson11.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Research agenda</a></h2>
			<p>My research focuses on the analysis of images and pictures using computer vision and machine learning techniques in order to classify political visual messages/frames and understand their role in the generation and processing of political information. I am interested in quantifying visual messages depicted by media outlets, exploring the correlation of such measures with ideological positions, and exploring the effect of visual material on the formation of attitudes and opinions. I also work on the intersection of causal inference and machine learning. My research has contributed to our understanding of how images affect multiple political processes, and has produced new tools that allow researchers to analyze new unstructured data in more efficient and accurate ways.</p>
		</div>
	</section>
</section>
